 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini{
  float: none!important;
  width: 200px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.sidebar .logo, .off-canvas-sidebar .logo{
  background: #7b1418;
}
.sidebar .logo:after, .off-canvas-sidebar .logo:after{
  content: none!important;
}

.sidebar .nav p, .off-canvas-sidebar .nav p{
  text-transform: capitalize!important;
  font-weight: bolder!important;
  font-weight: 500!important;
  font-family: 'Poppins';
}
.mainh{
  font-family: Montserrat!important;
  letter-spacing: 0.3px;
  font-weight: 500!important
}

.sidebar .nav li {
    border-bottom: 1px solid #c4c4c4;
}




/* here you can put your own css to customize and override the theme */

.form-group.form-group-divider .form-inner {
    border-left: 5px solid #bdae64!important;
    font-family: 'Montserrat';
    color: #343434;
   
}

.inlineform {
  border-top: 1px solid #dddddd;
      margin-left: 0px;
    margin-right: 0px;
}
.inlineform .f1,.inlineform .f2{
  border-top: 0px!important;
}

.inlineform .f1{
    float: left;
    width: 50%;
}

.inlineform .f2{
    float: right;
     width: 50%;
}

.inlineform .control-label{
  color: #000!important;
  font-family: 'Poppins'

}





.tophs{
font-size: 28px;
    font-family: 'Montserrat';
    color: #343434;
    text-align: center;
    margin-bottom: 25px;
} 


/*.inlineform ::placeholder { 
  color: red!important;
  opacity: 1;
}*/

.inlineform input[type="text"],.inlineform input[type="password"],.inlineform input[type="datetime"],.inlineform input[type="datetime-local"],.inlineform input[type="date"],.inlineform input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],.inlineform input[type="url"],.inlineform input[type="search"],.inlineform input[type="tel"],.inlineform input[type="color"],.inlineform textarea,.inlineform select{
  font-family: 'Poppins';
  color: #000000a3!important;
}



.btn-primary {
    background-color: #7b1418;
    border-color: #460e10;
    color: white;
    font-family: 'Poppins';
}
.inlineform{
  margin-left: 21px!important;
  max-width: 900px;
}

.inlineform .form-group {
  width: 50%!important;
      margin-top: 10px!important;

}

.emps .form-group.form-group-divider .form-inner{
 padding-top: 5px!important;
 padding-bottom: 5px!important;
}
.emps h3{
  margin-bottom: 0px!important;
}

.sidebar .nav i, .off-canvas-sidebar .nav i {
    font-size: 20px!important;
}

.sidebar .nav .caret, .off-canvas-sidebar .nav .caret {
    top: 22px!important;
    
  }





   .sidebar .nav, .off-canvas-sidebar .nav{
        margin-top: 0px!important;
        background: #eeeded;
       }


       .sidebar .nav i, .off-canvas-sidebar .nav i,.sidebar .nav li > a, .off-canvas-sidebar .nav li > a{
        color: #000!important;
        opacity: 0.9!important;
       }